version: "3.8"
services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - "3001:3001"
    network_mode: "host"
    environment:
      - DATABASE_URL=postgresql://dev:dev@127.0.0.1:5432/dev_db
      - PORT=3001
      - SALT_ROUNDS=10
      - ACCESS_TOKEN_DURATION=30m
      - REFRESH_TOKEN_DURATION=40m
      - JWT_SECRET=V3rY$tR0n6P@55w0rd

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - "5173:80"
    environment:
      - VITE_API_BASE_URL=http://localhost:3001
